#root {
  margin: 0 auto;
  transition: 1s;
}
.body {
  background-color: var(--body_background);
  color: var(--body_color);
  transition: 0.5s;
}
.link {
  color: var(--link_color);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(249 115 22);
}
.link {
  border: 1px solid transparent;
  font-size: 11px;
  transition: border-color 0.25s;
}
.link:hover {
  border-color: rgb(249 115 22);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.for_light_theme {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --background-color: #fff;
  --heading-color: #292922;
}
.for_dark_theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --background-color: #161625;
  --heading-color: #818cab;
}
label {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgb(0, 0, 0, 0.4),
    inset 0px -5px -15px rgb(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label::after {
  left: 39px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label:active::after {
  width: 35px;
}

/* asdasd */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls button {
  border: none;
  background-color: rgb(0, 98, 255);
  border-radius: 5px;
  color: white;
  max-width: 300px;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav {
  align-items: center;
  font-size: 12px;
}

input {
  color: #1a1a1a !important;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
hr {
  color: var(--heading-color);
}

.link {
  cursor: pointer;
  position: relative;
  color: #d8860b;
  border: 1px solid #d8860b;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #d8860b;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.link:hover::before {
  scale: 3;
}

.link:hover {
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.link:active {
  scale: 1;
}
.avatar {
  box-shadow: 0 0px 20px 1px #d8860b;
}

.avatar:hover {
  scale: 1.3;
  transition: 0.2s;
}

.label {
  box-shadow: 0 0px 10px 1px #d8860b;
}
h1 {
  text-shadow: 0px 0px 30px #d8860b;
}
p {
  text-shadow: 0px 0px 20px #d8860b;
}
